extends layout
block extrascripts
    link(rel='stylesheet' href='css/headerfix-light.css')

block content
  // Title
  section#intro
    .container
      .row.center
        h2
          strong 3D Printing
  // Main Content
  section#maincontent
    .container
      p We will be accepting 3D printed face shields and masks, however, please adhere to these guidelines:

      ul
        li Please fill out the form below prior to donating. If you are donating multiple times, fill out the form each time.
        li When donating, please drop off the items in a sealed bag, with the following information:
          ul
            li First name, last name, and email address
            li Type of supply created (face shield frames, face masks, etc.)
            li Material used
      iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSdvDhgfT203jogyRNOM2ErkifhMk8d6bdsKfwbnYKWeTH3XIQ/viewform?embedded=true' width='960' height='1650' frameborder='0' marginheight='0' marginwidth='0') Loading&mldr;
