extends layout
block extrascripts
    link(rel='stylesheet' href='css/headerfix-light.css')
block content
  // Title
  section#intro
    .container
      .row.center
        h2
          strong About Baycro
  // Main Content
  section#maincontent
    .container
      h3 About
      p
        |BAYCRO (Bay Area Youth Coronavirus Relief Organizaion) is an organization consisting of high school 
        |students from the Bay Area dedicated to relieving the stress that Covid-19 has brought onto the 
        |community and the essential workers. We primarily host donation drives to help supply needed 
        |materials to hospitals and local workers, however,we also support monetary
        |donations to directly help the people in need. We achieve this by working together in a student-led
        |environment where we work as representatives for our respective high schools. Our organization hopes to be
        |of assistance for the community and front line workers experiencing the brute of the pandemic.
  br
  section
    .container.text-center
      h2 Our Team
      mixin TeamMember(img, name, school)
        .span
          .team.mx-3
            img.rounded-circle(src=img)
            h6= name
            p= school
      mixin Photo(name, school)
        +TeamMember(`img/team/${name.split(' ').join('')}.webp`, name, school)
      mixin NoPhoto(name, school)
        +TeamMember('img/team/PersonIcon.webp', name, school)

      .row
        +Photo('Esther Tok', 'Gunn High School')
        +Photo('Emily Zhao', 'Gunn High School')
        +NoPhoto('Rida Khawaja', 'Gunn High School')
        +Photo('Shreya Thayaparan', 'Leland High School')
      .row
        +Photo('Ajay Bati', 'Mission San Jose High School')
        +Photo('Vibhav Athreya', 'Mission San Jose High School')
        +Photo('Karankumar Mageswaran', 'Mission San Jose High School')
        +Photo('Emily Park', 'Oak Grove High School')
      .row
        +Photo('Ganesh Pimpale', 'Santa Teresa High School')
        +Photo('Govind Pimpale', 'Santa Teresa High School')
        +Photo('Jasper Nguyen', 'Santa Teresa High School')
        +Photo('Kaitlyn Bui', 'Santa Teresa High School')
      .row
        +NoPhoto('Leslie Sun', 'Saratoga High School')
        +Photo('Isaiah Chung', 'Saratoga High School')
        +Photo('Adithya Nair', 'Saratoga High School')
        +Photo('Christopher Park', 'University Preparatory Academy')
