extends layout
block extrascripts
    link(rel='stylesheet' href='css/headerfix-light.css')
block content
  // Title
  section#intro
    .container
      .row.center
        h2
          strong About Baycro
  // Main Content
  section#maincontent
    .container
      h3 About
      p
      br
  br
  br
  // Name Order
  // Leadership
  // Ajay Bati, Isaiah Chung, Dheerj Jasuja, Christopher Park
  // Emily Park, Ganesh Pimpale, Govind Pimpale, Esther Tok
  // Members
  // Arash Amiri, Vibhav Athreya, Kaitlyn Bui, Riddhi Kulkarni
  // Karankumar Mageswaran, Adithya Nair, Jasper Nguyen, Leslie Sun
  // Shreya Thayaparan, Emily Zhao
  //
    HEY GOVIND: ALL OF THESE NEED TO BE CENTERED AND HAVE ROUND IMAGES
    GET THAT DONE!!!
  section
    .container
      h3 Our Team
      .row
        .span4.offset2
          .team
            .img.img-circle(src="img/team/EstherTok.png")
              h4 Esther Tok
              p Gunn High School
        .span4
          .team
            .img.img-circle(src="img/team/EmilyZhao.png")
              h4 Emily Zhao
              p Gunn High School
        .span4
          .team
            .img.img-circle(src="img/team/RidaKhawaja.png")
              h4 Rida Khawaja
              p Gunn High School
      .row
        .span4.offset2
          .team
            .img.img-circle(src="img/team/ShreyaThayaparan.png")
              h4 Shreya Thayaparan
              p Leland High School
        .span4
          .team
            .img.img-circle(src="img/team/AjayBati.png")
              h4 Ajay Bati
              p Mission San Jose High School
        .span4
          .team
            .img.img-circle(src="img/team/VibhavAthreya.png")
              h4 Vibhav Athreya
              p Mission San Jose High School
        .span4
          .team
            .img.img-circle(src="img/team/KarankumarMageswaran.png")
              h4 Karankumar Mageswaran
              p Mission San Jose High School
      .row
        .span4
          .team
            .img.img-circle(src="img/team/EmilyPark.png")
              h4 Emily Park
              p Oak Grove High School
      .row
        .span4
          .team
            .img.img-circle(src="img/team/GaneshPimpale.png")
              h4 Ganesh Pimpale
              p Santa Teresa High School
      .row
        .span4
          .team
            .img.img-circle(src="img/team/GovindPimpale.png")
              h4 Govind Pimpale
              p Santa Teresa High School
      .row
        .span4
          .team
            .img.img-circle(src="img/team/JasperNguyen.png")
              h4 Jasper Nguyen
              p Santa Teresa High School
      .row
        .span4
          .team
            .img.img-circle(src="img/team/KaitlynBui.png")
              h4 Kaitlyn Bui
              p Santa Teresa High School
      .row
        .span4
          .team
            .img.img-circle(src="img/team/LeslieSun.png")
              h4 Leslie Sun
              p Saratoga High School
      .row
        .span4
          .team
            .img.img-circle(src="img/team/IsaiahChung.png")
              h4 Isaiah Chung
              p Saratoga High School
      .row
        .span4
          .team
            .img.img-circle(src="img/team/AdithyaNair.png")
              h4 Adithya Nair
              p Saratoga High School
      .row
        .span4
          .team
            .img.img-circle(src="img/team/ChristopherPark.png")
              h4 Christopher Park
              p University Preparatory Academy
