extends layout
block content
  // Title
  section#intro
    .container
      .row.center
        h2
          strong About Baycro
  // Main Content
  section#maincontent
    .container
      h3 About
      p
      br
  br
  br
  // Name Order
  // Leadership
  // Ajay Bati, Isaiah Chung, Dheerj Jasuja, Christopher Park
  // Emily Park, Ganesh Pimpale, Govind Pimpale, Esther Tok
  // Members
  // Arash Amiri, Vibhav Athreya, Kaitlyn Bui, Riddhi Kulkarni
  // Karankumar Mageswaran, Adithya Nair, Jasper Nguyen, Leslie Sun
  // Shreya Thayaparan, Emily Zhao
  //
    HEY GOVIND: ALL OF THESE NEED TO BE CENTERED AND HAVE ROUND IMAGES
    GET THAT DONE!!!
  section
    .container
      h3 Our Team
      h4 Henry M. Gunn High School
      .row
        .span3.offset1
          .team
            img.img-circle(src='img/team/EstherTok.jpeg' alt='')
            h4 Esther Tok
            p School Lead
        .span3
          .team
            img(src='img/team/EmilyZhao.jpg' alt='')
            h4 Emily Zhao
            p Donation Outreach
      h4 Leland High School
      .row
        .span3
          .team
            img(src='img/team/PersonIcon.png' alt='')
            h4 Dheerj Jasuja
            p School Lead
        .span3
          .team
            img(src='img/team/PersonIcon.png' alt='')
            h4 Christopher Park
      .row
        .span3.offset1
          .team
            img.img-circle(src='img/team/EmilyPark.png' alt='')
            h4 Emily Park
        .span3
          .team
            img(src='img/team/GaneshPimpale.jpg' alt='')
            h4 Ganesh Pimpale
        .span3
          .team
            img(src='img/team/GovindPimpale.jpg' alt='')
            h4 Govind Pimpale
        .span3
          .team
            img(src='img/team/EstherTok.jpeg' alt='')
            h4 Esther Tok
      h4 Members
      // Row One
      .row
        .span3.offset1
          .team
            img.img-circle(src='img/team/PersonIcon.png' alt='')
            h4 Arash Amiri
        .span3
          .team
            img(src='img/team/PersonIcon.png' alt='')
            h4 Vibhav Athreya
        .span3
          .team
            img(src='img/team/KaitlynBui.png' alt='')
            h4 Kaitlyn Bui
        .span3
          .team
            img(src='img/team/PersonIcon.png' alt='')
            h4 Rhiddi Kulkarni
      // Row Two
      .row
        .span3.offset1
          .team
            img.img-circle(src='img/team/KaranKumar.png' alt='')
            h5 Karan Mageswaran
        .span3
          .team
            img(src='img/team/AdithyaNair.png' alt='')
            h4 Adithya Nair
        .span3
          .team
            img(src='img/team/PersonIcon.png' alt='')
            h4 Jasper Nguyen
        .span3
          .team
            img(src='img/team/PersonIcon.png' alt='')
            h4 Leslie Sun
      // Row Three
      .row
        .span3.offset1
          .team
            img.img-circle(src='img/team/PersonIcon.png' alt='')
            h5 Shreya Thayaparan
        .span3
          .team
            img(src='img/team/EmilyZhao.jpg' alt='')
            h4 Emily Zhao
