extends layout
block extrascripts
    link(rel='stylesheet' href='css/headerfix-light.css')
block content
  section#intro
    .container
      .row.center
        h2
          strong Donate
  // Main Content
  section#maincontent
    .container
      p
        | Baycro uses multiple methods to collect donations, the two main types being collection drives and direct
        | donations. In collection drives, we set up a stand for a duration of time and people can drop off supplies
        | from their cars and direct donations where the transfer of supplies are coordinated beforehand between the
        | Baycro member and the donor.
      p
        | In addition, Baycro also accepts monetary donations through our
        |
        a(href='https://www.gofundme.com/f/silicon-valley-donations-for-coronavirus-relief') Gofundme
        |
        | page. All money donated will be used towards charity.
      p
        Strong Upcoming and Most Recent Collection Drives:
      ul
        li Gunn High School Main Parking Lot; May 2nd, 2020; 12PM to 3PM
      p
        | This table shows the areas that have Baycro branches that are collecting donations as well as their contact
        |info and collection location.
      table
        tr
          th Area
          th Contact Info
          th Collection Location
        tr
          td Henry M. Gunn High School (CA, 94306)
          td
            p
              a(href='mailto: estherztok@gmail.com') estherztok@gmail.com
              |
              |- Esther Tok
          td Gunn High School Main Parking Lot; Check Upcoming Collection Drives for dates and times
        tr
          td Leland High School (CA, 60531)
          td
            p
              a(href='mailto: shreyat2016@gmail.com') shreyat2016@gmail.com
              |
              |- Shreya Tayaparan
          td N/A - Fill out form below
        tr
          td Mission San Jose High School (CA, 95120)
          td
            p
              a(href='mailto: ajaybati@gmail.com') ajaybati@gmail.com
              |
              |- Ajay Bati
          td N/A - Fill out form below
        tr
          td Oak Grove High School (CA, 95123)
          td
            p
              a(href='mailto: parkemily1957@students.esuhsd.org') parkemily1957@students.esuhsd.org
              |
              |- Emily Park
          td N/A - Fill out form below
        tr
          td Santa Teresa High School (CA, 95123)
          td
            p
              a(href='mailto: pimpale2003@gmail.com') pimpale2003@gmail.com
              |
              |- Ganesh Pimpale (408-614-1269)
          td Edge of Santa Teresa High School on Snell Ave; Date not yet decided
        tr
          td Saratoga High School (CA, 95070)
          td
            p
              a(href='mailto: chui2875@lgsstudent.org') chui2875@lgsstudent.org
              |
              |- Isaiah Chung (669-333-6524)
          td N/A - Fill out form below
        tr
          td University Preparatory Academy (CA, 95125)
          td
            p
              a(href='mailto: parkchris252@gmail.com') parkchris252@gmail.com
              |
              |- Christopher Park
          td N/A - Fill out form below
      br
      p
        | If you cannot make it to a donation drive and would like to still donate. Please fill out the form below.
        | We will reach out to you and coordinate how to collect your items.
      iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSdSjzEzQdFi5sDSZa8h69nHA_QSrzu9OhGAU3zWldwUl70mgg/viewform?embedded=true' width='960' height='1050' frameborder='0' marginheight='0' marginwidth='0') Loading&mldr;
