extends layout
block extrascripts
    link(rel='stylesheet' href='css/headerfix-light.css')
block content
  section#intro
    .container
      .row.center
        h2
          strong Donate
  // Main Content
  section#maincontent
    .container

      iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSdSjzEzQdFi5sDSZa8h69nHA_QSrzu9OhGAU3zWldwUl70mgg/viewform?embedded=true' width='960' height='1200' frameborder='0' marginheight='0' marginwidth='0') Loading&mldr;
