extends layout
block extrascripts
    link(rel='stylesheet' href='css/headerfix-light.css')
block content
  // Title
  section#intro
    .container
      .row.center
        h2
          strong FAQ
  // Main Content
  section#maincontent
    .container
      h5
        | Q: Where and how do I donate?
      p(style='margin-bottom: 50px')
        | A: Depending on where you live, you can choose where to drop off supplies. A listing of the locations,
        |timings, and contact info for drop off zones and people can be found on our Donation page.

      h5
        | Q: Are there any requirements to donate?
      p(style='margin-bottom: 50px')
        | A: Depending on the type of donation, there are certain requirements. If you plan to donate 3D printed
        | equipment, please check our page on 3D printed supplies to see the requirements necessary. If you are
        | donating general supplies, make sure all items are sealed and have never been opened.

      h5
        | Q: I am not from the Bay Area, but I would still like to participate. Are there still opportunities for me
        |to help?
      p(style='margin-bottom: 50px')
        | A: Even if you are not from the Bay Area, you can still join. All of our communication is done online and
        | you will still receive support from the rest of the Baycro.

      h5
        | Q: Are there any requirements to join Baycro?
      p(style='margin-bottom: 50px')
        | A: Anyone can join Baycro, however, everyone who joins is expected to do the work they are supposed to do.
        | Check out our Join page for more information.

      h5
        | Q: Can we make monetary donations?
      p(style='margin-bottom: 50px')
        | A: Yes, we have a
        |
        a(href='https://www.gofundme.com/f/silicon-valley-donations-for-coronavirus-relief') Gofundme
        |
        | page.

      h5
        | Q: Where will donations be sent to?
      p(style='margin-bottom: 50px')
        | A: The donations that we collect will be sent to anywhere in need. This means they will be sent to
        |hospitals, shelters, and elderly homes across the globe.

      h5
        | Q: How do we get contact for sponsorship opportunities?
      p(style='margin-bottom: 50px')
        | A: We offer both an email to contact us, or a form for us to reach bad to you. Please look at our sponsorship page for more information.

      h5
        | Q: Is this an affiliated organization?
      p(style='margin-bottom: 50px')
        | A: No, Baycro is currently not an affiliated organization.

      iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSc5Ur-uwiYPQFqNjnMbLl0CZAt9qmO-dBT4XlsfrnVtJCXrDA/viewform?embedded=true" width="960" height="750" frameborder="0" marginheight="0" marginwidth="0")
