extends layout
block extrascripts
    link(rel='stylesheet' href='css/headerfix.css')
    link(rel='stylesheet' href='css/index.css')

block content
  section#hero-section.hero
    .hero-inner
      img.w-25(src='img/baycro_logo.webp')
      br
      br
      h2(style='color:inherit;') Bay Area Youth Coronavirus Relief Organization
      h3(style='color:inherit;').text-align
        | We are a coalition of students from schools from all around the Bay Area working to collect
        | donated supplies to help people both on the front lines and those in dire need.
  section#news-section.image-section
    .container
      h2(style='color:inherit;') April 26th to May 3rd Update
        h4(style='color:inherit;')
          | Gunn High School drive cancellation, expansion, and more.
      a(href="news.html").btn Learn More
  section.text-section
    .container
      h2(style='color:inherit;') Donate
        h4(style='color:inherit;')
          | Baycro collects donations in multiple ways and provides methods to communicate with donors to make
          | donation as simple as possible. Check out our donation page to learn more.
        h4(style='color:inherit;')
          | In addition, we also accept monetary donations on our
          |
          a(href='https://www.gofundme.com/f/silicon-valley-donations-for-coronavirus-relief') Gofundme
          |
          | page.
      a(href="donate.html").btn Donate
  section#print-section.image-section
    .container
      h2(style='color:inherit;') 3D Printing
        h4(style='color:inherit;')
          | We now collect 3D printed parts to donate. If you are interested in 3D printing for us, please check out
          | printing page so you are aware of the requirements and donation procedure.
      a(href="3d_printing.html").btn Learn More
  section#join-section.image-section
    .container
      h2(style='color:inherit;') Join Us
        h4(style='color:inherit;')
          | Baycro is a student-led organization, with people in each school conducting their own donation drives to
          | collect as many supplies as possible. Anyone is welcome to join under the goal of helping others during
          | these difficult times.
      a(href="join.html").btn Join Us
  section.text-section
    .container
      h2(style='color:inherit;') Sponsors
        h4(style='color:inherit;')
          | A big thank you to our current sponsors:
        img(src="img/sponsors/innexgo_logo.webp")
        br
        br
        h4(style='color:inherit;')
          | If you would like to sponsor us, please check out our sponsor page to get in touch with us.
      a(href="sponsors.html").btn Learn More
  section#end-section
