extends layout
block extrascripts
    link(rel='stylesheet' href='css/headerfix.css')
    link(rel='stylesheet' href='css/index.css')

block content
  section#hero-section.hero
    .hero-inner
      img.w-25(src='img/baycro_logo.png')
      h2(style='color:inherit;') Bay Area Coronavirus Relief Organization
  section#news-section.image-section
    .container
      .row
        .span
          .features
            .icon
              i.fas.fa-thumbs-up.icon-bg-dark.icon-circled.icon-5x
            .features_content
              h2 Easy to Use
              p
                | Allows individuals affected by the virus to upload their location data and members of the community to
                | compare their own location to verify whether they have potentially been exposed to the virus.
  section#join-section.image-section
    .container
      .row
        .span
          .features
            .icon
              i.fas.fa-thumbs-up.icon-bg-dark.icon-circled.icon-5x
            .features_content
              h2 Easy to Use
              p
                | Allows individuals affected by the virus to upload their location data and members of the community to
                | compare their own location to verify whether they have potentially been exposed to the virus.
  section#maincontent
    .container
      .row
        .span
          .features
            .icon
              i.fas.fa-thumbs-up.icon-bg-dark.icon-circled.icon-5x
            .features_content
              h2 Easy to Use
              p
                | Allows individuals affected by the virus to upload their location data and members of the community to
                | compare their own location to verify whether they have potentially been exposed to the virus.
        .span
          .features
            .icon
              i.fas.fa-shield-alt.icon-bg-dark.icon-circled.icon-5x
            .features_content
              h2 User Privacy
              p
                | Checking your exposure to Covid-19 does not require you make an account and all personal data is kept
                | completely anonymous and any sensitive data can be removed with the tools this website provides.
        .span
          .features
            .icon
              i.fas.fa-chart-line.icon-bg-dark.icon-circled.icon-5x
            .features_content
              h2 Detailed Reporting
              p
                | Provides a detailed log of possible exposures, taking into account time and location. In addition,
                | this tool allows you to view locations which have a high rate of Covid-19 exposure.
      .row
        .span12
          .solid_line
      .row
        h2(style='margin-bottom: 50px;') Our Strategy
        .card-deck
          .card
            .card-body
              h5.card-title Data Collection
              p.card-text
                | First, you download location history data from
                a(href='https://takeout.google.com/settings/takeout') Google Takeout
                | . Assuming you haven&apos;t disabled this feature, this file will contain your entire location history 
                | since you started your account. As such, it can be rather large. Unzip the file and upload
                code Location History.json
                | .
          .card
            .card-body
              h5.card-title Data Processing
              p.card-text
                | If data is uploaded to our server, we anonymize it to preserve user privacy, and then
                | store it in a MySQL database. We use an Octree with latitude, longitude, and time as the three
                | dimensions in order to detect collisions.
          .card
            .card-body
              h5.card-title Data Analysis
              p.card-text
                | Most data analysis is done client side. Your location history is compared with the
                | location history of people who may have coronavirus, and you will be able to explore locations where you
                | may have been exposed. We use
                a(href='https://www.openstreetmap.org') OpenStreetMap
                |  to graphically visualize results.
      .row.no-gutters
        .col-lg-6.order-lg-2.text-white.showcase-img
        .col-lg-6.order-lg-1.my-auto.showcase-text
          h2 In-Depth Attendance Profiles
          p.lead.mb-0
            | Analyzes attendance data to identify unhealthy truancy patterns and solve attendance issues with students and parents before they escalate.
      .row.no-gutters
        .col-lg-6.text-white.showcase-img(style="background-image: url('img/homepage/join.png');")
        .col-lg-6.my-auto.showcase-text
          h2 Quick and Effective Scanning
          p.lead.mb-0
            | Intuitive and quick scanning system allows students to sign in and out of class in seconds by scanning their ID cards.
      .row.no-gutters
        .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('img/pic1.png');")
        .col-lg-6.order-lg-1.my-auto.showcase-text
          h2 Extensive Attendance Logging
          p.lead.mb-0
            | Comprehensive details on student whereabouts to improve campus safety and decrease truancy. All data for classroom interruptions like bathroom breaks is stored and can be quantitatively analyzed.
