extends layout
block extrascripts
    link(rel='stylesheet' href='css/headerfix-light.css')
block content
  // Title
  section#intro
    .container
      .row.center
        h2
          strong Join Baycro
  // Main Content
  section#maincontent
    .container
      p
        |Baycro is a student led organization, with people in each school conducting their own donation drives to
        |collect as many supplies as possible. Although we are student led, there are no requirements regarding the
        |participants of the organization and who can join. As long as you complete the necessary tasks to collect
        |supplies in your area, you are a valued member in our organization.
      p
        |If you would like to join Baycro please fill out the form below. If your school or organization already has a
        |branch of Baycro working, we will connect you with them, however, if you are the first person from your
        |school/organization to join, you will have to recruit people from your school/organization to create a small
        |team.

      iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSdiZozsdwdJF6OD8cPgxKlFVZ-VbMw1gxDN2sv2gcMb95HimQ/viewform?embedded=true' width='960' height='1400' frameborder='0' marginheight='0' marginwidth='0') Loading&mldr;
