extends layout
block extrascripts
    link(rel='stylesheet' href='css/headerfix-light.css')
block content
  // Title
  section#intro
    .container
      .row.center
        h2
          strong Baycro News
  // Main Content
  section#description
    .container
      p
        | This news page exists to provide our members, donors, and sponsors information on the progress we are making
        | to help others in this time. We hope that it is informative and gives a better view as to what progress is
        | being made by Baycro.
  section#maincontent
    .container
       h3
         Strong May 1, 2020
       img(src='img/news/1-1.png')
       br
       h4 Baycro is Now Collecting 3D Printed supplies
       h5 We have expanded our selection of items to 3D personal protective equipment.
       p
         | We have now expanded the selection of items we accept in donation drives and direct donations. We are now
         | taking 3D printed equipment, primarily face shields, that will now be distributed. If you are interested in
         | printing for us, we have a page on the guidelines to print and donate items. This would not have been
         | possible without Innexgo. A big thank you goes to them for lending us two of their 3D printers as well as
         | other hardware allowing us to get to this stage.
       p(style='page-break-before: always')

