extends layout
block content
  // Title
  section#intro
    .container
      .row.center
        h2
          strong Sponsors
  // Main Content
  section#maincontent
    .container
      // Main Content
