extends layout
block extrascripts
    link(rel='stylesheet' href='css/headerfix-light.css')
block content
  // Title
  section#intro
    .container
      .row.center
        h2
          strong Sponsors
  // Main Content
  section#maincontent
    .container
      h3 Thank You to Our Current Sponsors!
      img(src = 'img/sponsors/innexgo_logo.png')
      br
      br
      br
      p
        |If you are interested in sponsoring BAYCRO please contact us through
        |
        a(href='mailto: bayareacoronarelief@gmail.com') bayareacoronarelief@gmail.com
        |
        |or you can fill out the form below and we will reach out to you.
      p
        |Any help is greatly appreciated, we currently accept monetary donations, resources, or materials. If you are a
        |sponsor we will feature your party on our website as well as any outreach events.
        |Monetary donations will be used to reimburse our transportation staff, shipping donations, material costs,
        |domain hosting, and website hosting. All of the remaining money will go directly to hospitals and needed
        |organizations. Resources and materials will go directly to our team to send out to front line workers and needed
        |institutions.

      iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSdkLvp9mwDIuUIkIQbc4E29zyfVEjpceGVdQ6PcIpX6kmzIUg/viewform?embedded=true" width="960" height="900" frameborder="0" marginheight="0" marginwidth="0")

