extends layout
block content
  // Title
  section#intro
    .container
      .row.center
        h2
          strong Sponsors
  // Main Content
  section#maincontent
    .container
      p(style='font-size: 20px; margin-bottom: 50px;')
        |If you are interested in sponsoring BAYCRO please contact us through bayareacoronarelief@gmail.com
      p(style='font-size: 20px')
        |Any help is greatly appreciated, we currently accept monetary donations, resources, or materials. If you are a
        |sponsor we will feature your party on our website as well as any outreach events.
        |Monetary donations will be used to reimburse our transportation staff, shipping donations, material costs,
        |domain hosting, and website hosting. All of the remaining money will go directly to hospitals and needed
        |organizations. Resources and materials will go directly to our team to send out to front line workers and needed
        |institutions.

        .img(src = 'img/sponsors/innexgo_logo.png')




